<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Колесо удачи</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div id="background-arrow" class="background-arrow">
        <img src="/static/images/background-arrow.png" alt="background-arrow">
    </div>
    
    <div id="wheel" class="wheel">
        <img src="/static/images/wheel.png" alt="Wheel">
    </div>
    <button id="spin-button">Крутить колесо</button>
    <p id="prize"></p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>

